/*
Colors:
#022F40
#183446
#046E8F
#0090C1
#38AECC

Fonts:
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
*/

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: #183446;
  font-family: 'Roboto', sans-serif;
}

#root, .App {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*Login Page*/

.Login {
  float: none;
  margin: 200px auto;
  font-size: 22px;
}

.Login label {
  margin-top: 10px;
}

.Login input {
  padding: 8px;
  display: block;
  width: 100%;
  border: 1px solid #CCCCCC;
}

.Login button {
  background: #38AECC;
  color: white;
  border-radius: 4px;
  height: 50px;
  width: 110px; 
  float: right;
  margin-top: 14px;
  transition: .5s ease;
}

.Login p {
  font-size: 16px;
  color: #183446;
  margin-top: 8px;
}

.Login p:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*Home*/

.Home {
  height: 100%;
  width: 100%;
}

.row {
  margin: 0px;
}

/*Nav*/

.Nav {
  height: 100%;
  width: 18%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.Nav a:hover {
  text-decoration: none;
}

.LinkContainer {
  width: 100%;
  height: 90%;
  font-size: 19px;
}

.Link {
  width: 100%;
  height: 65px;
  padding-left: 35px;
  padding-top: 15px;
  padding-bottom: 10px;
  color: #022F40;
  opacity: 1;
}

.Link:hover {
  background: #EEEEEE; 
}

.Link.active{
  background: #DDDDDD;
  border-left: 7px solid #046E8F;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}

.Link.active img {
  filter: invert(22%) sepia(78%) saturate(2067%) hue-rotate(172deg) brightness(101%) contrast(97%);
}

.Link img {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.Link p {
  margin-left: 40px;
  display: inline-block;
}

.ProfileLinkContainer {
  width: 100%;
  height: 10%;
  font-size: 19px;
  position: relative;
}

#AccountLink {
  position: absolute;
  bottom: 0;
}

/*MainPage*/
.MainPage {
  width: 100%;
  height: 100%;
}

.MainPage h1 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.SearchBar {
  width: 100%;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 13%;
  display: inline-block;
  vertical-align: bottom;
}

.SearchBar form {
  position: relative;
  bottom: 0px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: none;
  height: 50px;
}

.SearchBar input {
  height: 90%;
  width: 70%;
  background: url(res/baseline_search_black_18dp.png) no-repeat scroll 3px 3px;
  background-size: 30px 30px;
  background-position: right;
  padding-left: 15px;
  padding-right: 25px;
  border-radius: 15px;
  border: 1px solid #CCCCCC;
  font-size: 18px;
}

.SearchBar form:hover {
  background: #FFFFFF;
}


.ArtList {
  padding: 0px 40px;
}

.Artwork {
  display: inline-block;
  margin: 8px 8px;
  position: relative;
}

.Artwork img {
  border-radius: 10px;
  height: 150px;
  transition: .5s ease;
}

.ArtworkOverlay {
  background-color: #FFFFFF;
  position: absolute;
  bottom: 15px;
  left: 15px;
  border-radius: 15px;
  padding-top: 3px;
  font-size: 18px;
  text-overflow: ellipsis;
  visibility: hidden;
  opacity: .8
}

.Artwork button {
  width: 35px;
  height: 35px;
  padding: 0px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: white;
  border: none;
  visibility: hidden;
  opacity: .8;
}

.Artwork button img {
  width: 30px;
  height: 30px;
  padding-left: 1px;
  visibility: hidden;
}

.Artwork:hover {
  cursor: pointer;
}

.Artwork:hover button {
  visibility: visible;
  transition: 1s ease;
}

.Artwork:hover img {
  visibility: visible;
  height: 300px;
  -webkit-filter: brightness(80%);
  transition: .5s ease;
}

.Artwork:hover button img {
  height: 30px;
  -webkit-filter: brightness(100%);
  transition: 1s ease;
}

.Artwork:hover .ArtworkOverlay {
  visibility: visible;
  transition: 1s ease;
}

.ArtworkOverlay p {
  padding: 0px;
  margin: 3px 12px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width:200px;
  color: black;
}

.ArtworkOverlay:hover {
  opacity: 1;
}

.Artwork button:hover {
  opacity: 1;
}

/*ArtPage*/

.ArtPageWrapper {
  width: 1399px;
  overflow: auto;
  margin-bottom: 50px;
}

.ArtPage {
  height: 100%;
  text-align: center;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.BackButton {
  float: left;
  border: none;
  background: #FFFFFF;
  width: 60px;
  height: 60px;
  transition: .5s ease;
  margin-left: 70px;
  margin-top: 28px;
}

.BackButton img {
  transition: .5s ease;
  width: 35px;
}

.BackButton:hover {
  background: #38AECC;
  transition: .5s ease;
}

.BackButton:hover img {
  filter: invert(100%) sepia(0%) saturate(5476%) hue-rotate(148deg) brightness(107%) contrast(107%);
  transition: .1s ease;
}

.ArtCard {
  width: 40%;
  border-radius: 15px;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-align: left;
}

.ArtCard img {
  width: 100%;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.ArtCard p {
  display: inline-block;
  font-size: 20px;
  margin: 20px 20px;
}

.ArtCard button {
  background: #38AECC;
  color: white;
  border-radius: 4px;
  height: 45px;
  width: 110px; 
  float: right;
  margin-right: 20px;
  margin-top: 12px;
  padding-top: 10px;
  transition: .5s ease;
}

.ArtCard button img {
  width: 25px;
  padding-bottom: 3px;
  filter: invert(100%) sepia(0%) saturate(5476%) hue-rotate(148deg) brightness(107%) contrast(107%);
  transition: .5s ease;
}

.ArtCard button p {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.ArtCard button:hover img {
  width: 25px;
  filter: invert(0%) sepia(0%) saturate(10%) hue-rotate(169deg) brightness(88%) contrast(100%);
  transition: .5s ease;
}

.ArtPage h1 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  margin-top: 80px;
}

.ArtPage .Artwork:hover img {
  visibility: visible;
  height: 150px;
  -webkit-filter: brightness(80%);
  transition: .5s ease;
}

.spacing {
  height: 100px;
}

/*DonationPage*/

.DonationPage {
  height: 100%;
  font-size: 16px;
}

.DonationForm {
  width: 60%;
  height: 670px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background: whitesmoke;
  position: relative;
}

.DonationInputs {
  width: 100%;
  height: 445px;
  position: relative;
}

.DonationForm .left {
  position: absolute;
  top: 20px;
  left: 50px;
}

.DonationForm input:disabled {
  background: #DDDDDD;
  width: 40%;
  display: inline-block;
  position: absolute;
  top: 45px;
  left: 50px;
}

.DonationForm .right {
  position: absolute;
  top: 20px;
  right: 70px;
  width: 130px;
}

.DonationForm input {
  width: 20%;
  display: inline-block;
  position: absolute;
  top: 45px;
  right: 50px;
}

.DonationInputs .MessageLabel {
  position: absolute;
  top: 100px;
  left: 50px;
}

.DonationInputs textarea {
  width: 650px;
  height: 300px;
  position: absolute;
  top: 125px;
  left: 50px;
}

.PaymentMethods {
  width: 650px;
  height: 145px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border: 1px solid #909090; 
}

.PaymentMethods h2 {
  color: #909090;
  font-size: 19px;
  padding: 10px;
  margin: 20px;
  border-bottom: 1px solid #909090; 
}

.PaymentMethod {
  margin-left: 30px;
  margin-right: 30px;
}

.PaymentMethod img {
  width: 80px;
  margin-bottom: 8px;
  display: inline-block;
}

.PaymentMethod h3 {
  width: 250px;
  color: black;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 3px;
  display: inline-block;
}

.PaymentMethod p {
  width: 200px;
  margin-top: 2px;
  margin-left: 38px;
  display: inline-block;
}

.DonationForm button {
  position: absolute;
  right: 50px;
  bottom: 22px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

/*UploadPage*/
.UploadPage {
  height: 100%;
}

.FileUpload label {
  width: 70%;
  height: 60%;
  border: 1px solid #ccc;
  background: #CCCCCC;
  display: inline-block;
  margin-left: 40px;
  cursor: pointer;
  transition: .4s ease;
}

.FileUpload label img {
  opacity: .7;
  width: 60px;
  margin-left: 180px;
  margin-top: 190px;
}

.FileUpload label:hover {
  background: #DDDDDD;
  transition: .4s ease;
}

.FileUpload label img {
  opacity: 1;
}

input[type="file"] {
  display: none;
}